In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [2]:
data = pd.read_csv("../data/marketing_campaign.csv")

In [3]:
data.isna().any().all()

False

In [4]:
data.dropna(inplace=True)

#### Feature Engineering

In [5]:
# creating the age column
CURRENT_YEAR = 2024
age = CURRENT_YEAR - data["Year_Birth"]

In [6]:
data["customer_age"] = age

In [7]:
data["Dt_Customer"] = pd.to_datetime(data["Dt_Customer"],format="%d-%m-%Y")
dates = []
for i in data["Dt_Customer"]:
    i = i.date()
    dates.append(i)  
#Dates of the newest and oldest recorded customer
print("The newest customer's enrolment date in therecords:",max(dates))
print("The oldest customer's enrolment date in the records:",min(dates))

The newest customer's enrolment date in therecords: 2014-06-29
The oldest customer's enrolment date in the records: 2012-07-30

In [14]:
cols = data.columns.to_list()

In [23]:
cols = cols[:-2] + cols[-1:] + cols[-2:-1]

In [25]:
data = data[cols].copy()

In [27]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,customer_age,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,0,0,0,0,0,0,3,11,67,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,0,0,0,0,0,0,3,11,70,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,0,0,0,0,0,0,3,11,59,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,0,0,0,0,0,0,3,11,40,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,0,0,0,0,0,0,3,11,43,0

In [28]:
X = data.drop(['Response'],axis=1)
y = data['Response']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [30]:
train_data = pd.concat([X_train,y_train],axis=1)
test_data = pd.concat([X_test,y_test])

#### Data Preprocessing